@import '../styles/global.scss' 

// * {
//   box-sizing: border-box;
// }

// body {
//   margin: 0;
//   font-family: system-ui, sans-serif;
//   background: #f6f7f4;
// }

// .layout {
//   display: flex;
//   min-height: 100vh;
// }

// .sidebar {
//   width: 240px;
//   background: #2f4f2f;
//   color: white;
//   padding: 1rem;
  
//   h2 {
//     margin-top: 0;
//     font-size: 1.2rem;
//   }
  
//   ul {
//     list-style: none;
//     padding: 0;
//   }
  
//   li {
//     margin: 0.5rem 0;
//   }
  
//   a {
//     color: white;
//     text-decoration: none;
    
//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }

// .content {
//   flex: 1;
//   padding: 2rem;
//   background: white;
// }
