---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Startseite">
	<h1>Willkommen beim Anglerverband</h1>

	<p>
		Herzlich willkommen auf der Website unseres Anglerverbandes. Hier finden
		Sie aktuelle Informationen, Berichte und Termine.
	</p>
</BaseLayout>
