<header class="z-40 w-full">
    <div class="m-auto mx-auto xl:container xl:max-w-(--breakpoint-xl)">
        <div class="max-w-3xl mx-auto p-6">
            <!-- Navigation -->
            <div class="flex justify-start">
                <div
                    class="relative flex w-full items-center justify-end md:justify-start"
                >
                    <a href="/">Zurück</a>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    header {
        font-size: 17px;
        background-color: var(--color-dark-green);
        background-color: #1d373b;
        color: var(--color-light-blue);
    }

    header a {
        color: var(--color-light-blue);
    }
</style>
