---
import { getCollection } from "astro:content";
const posts = await getCollection("berichte");
---

<section id="berichte" class="py-16 px-4">
    <h2 class="text-3xl font-bold mb-6">Berichte</h2>

    <ul class="grid md:grid-cols-4 grid-cols-1 gap-4">
        {
            posts.map(async (post) => {
                return (
                    <li class="md:h-82 xl:h-[353px] h-auto border hover:bg-white transition-all">
                        <div class="mt-3 h-full w-full px-5 pb-4">
                            <div class="grid h-full grid-rows-[1fr_3fr] gap-2">
                                {/* TITLE */}
                                <h3 class="m-0 !text-[15px] !font-medium !leading-[1.2rem] overflow-hidden">
                                    {post.data.titel}
                                </h3>

                                {/* KURZTEXT */}
                                <p class="overflow-hidden">
                                    {post.data.kurztext}
                                </p>

                                {/* WEITERLESEN BUTTON */}
                                <a
                                    href={`/berichte/${post.slug}`}
                                    class="sm:text-lg text-sm uppercase text-color-lvsa flex flex-row items-center hover:underline"
                                >
                                    Weiterlesen
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width={1.5}
                                        stroke="currentColor"
                                        class="size-6"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                );
            })
        }
    </ul>

    <a href="/berichte" class="mehr-link"><span>MEHR...</span></a>
</section>

<style>
    #berichte h3 {
        font-weight: bold !important;
    }

    #berichte li {
        background-color: var(--color-light-blue);
    }

    #berichte li:hover {
        background-color: white;
    }

    #berichte .mehr-link span {
        margin-top: 5rem;
        border: 2px solid pink;
    }
</style>
