<div class="hero relative min-h-80 w-full" id="hero">
    <div
        class="relative m-auto max-w-(--breakpoint-xl) overflow-hidden transition-[height] duration-500 ease-in-out"
        id="hero-content"
        style="height:600px"
    >
        <div
            class="hero-slider-gallery transition-[left] ease-in-out duration-500 absolute w-full h-full bg-color-lvsa"
            style="left:0px"
        >
            <div
                class="hero-slider-gallery-item absolute top-0 h-full w-full"
                style="left:0px;z-index:1"
            >
                <img
                    src="/images/hero-image.webp"
                    alt="Angeln in Sachsen"
                    loading="lazy"
                    decoding="async"
                    fetchpriority="auto"
                    width="400"
                    height="266"
                    class="absolute h-full w-full object-cover object-right md:hidden"
                />
                <img
                    src="/images/hero-image.webp"
                    alt="Angeln in Sachsen"
                    loading="lazy"
                    decoding="async"
                    fetchpriority="auto"
                    width="1200"
                    height="799"
                    class="absolute hidden md:block h-full w-full object-cover object-top"
                />
                <div class="absolute top-0 h-full w-full bg-black opacity-20">
                </div>
                <div
                    class="absolute right-14 left-14 flex flex-col justify-end overflow-hidden md:right-24 md:left-24 bottom-[75px] md:top-[200px]"
                >
                    <div
                        class="xs:leading-8 w-full pt-1 text-3xl font-bold tracking-wider hyphens-auto sm:leading-10 md:text-6xl text-white"
                    >
                        WILLKOMMEN
                        <br />
                        BEIM AVL '95 e.V.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #hero-content {
        box-sizing: border-box;
        border: 0 solid;
        padding: 0;
        position: relative;
        margin: auto;
        max-width: var(--breakpoint-xl);
        overflow: hidden;
        transition-property: height;
        --tw-duration: 0.5s;
        transition-duration: 0.5s;
        --tw-ease: var(--ease-in-out);
        transition-timing-function: var(--ease-in-out);
        height: 600px;
    }

    #hero-content .object-right {
        object-position: right;
    }
</style>
