<section id="jugend" class="py-8 px-4">
    <h2 class="text-3xl font-bold mb-6">Jugend</h2>
    <article>
        <h4>Hallo Jugendfreunde,</h4>
        <p>
            In den Jahren nach der Vereinsgründung unserer AVL 95.e.V. wurde von
            den Vorstandsmitgliedern ein aktives Jugendleben in dem neu
            gegründeten Verein ins Leben gerufen. Über Jahre hinweg wurden mit
            der Jugendgruppe unserer AVL 95 e.V. eine gute Arbeit gemacht.
            Unsere Jugendgruppe nahm an den Veranstaltungen und den Jugendlagern
            der AVS teil und errang bei den Wettbewerben auch manche gute
            Plätze. Mit der Übernahme des Objektes Limmritz von der AVS, in der
            Lage, in der Woche über Christie Himmelfahrt ein eigenes Jugendlager
            durchzuführen, und das über Jahre hinweg. Auch die Angelei, als
            Hauptsache unserer Jugendlichen, kam nie zu kurz.
        </p>
        <p>
            Leider ist es seit dem Jahr 2006 in unserer AVL zu einem
            dramatischen Rückgang von Jugendlichen Mitgliedern in unseren Verein
            AVL 95 e.V.gekommen. Aufgrund des Mitgliederschwundes wurde die
            Jugendarbeit bis auf weiteres eingestellt.
        </p>
        <p>
            Wir als Vorstand der AVL 95 e.V. sind jederzeit bereit, uns der
            Verantwortung zur Arbeit mit der Jugend zu stellen. Viele unserer
            ehemaligen Jugendlichen sind jetzt aktive Mitglieder unserer AVL 95
            e.V. Sollte es in unserer AVL 95 e.V. Jugendliche geben, die aktiv
            in der Jugendgruppe mitarbeiten wollen, wird sich der Vorstand der
            AVL 95 e.V. der Aufgabe erneut stellen.
        </p>
        <p>
            Wir danken hiermit allen Mitgliedern, die sich aktiv über die
            gesamten Jahre hinweg an der Jugendarbeit beteiligten.
        </p>
        <p><strong>Der Vorstand der AVL 95 e. V.</strong></p>
        <p><strong>Die Jugendgruppe</strong></p>
    </article>
</section>

<style>
    #jugend article {
        border: var(--color-dark-green) solid 2px;
        background-color: var(--color-fresh-green);
        padding: 2rem;
    }
    #jugend h4 {
        font-size: 1.5em;
        margin-bottom: 0.25em;
    }

    #jugend p {
        margin-bottom: 1rem;
    }

    @media(max-width: 676px) {
        #jugend article {
            max-height: 500px;
            overflow: auto;
        }
    }
</style>
