<section>
    <div class="kontakt section-container" id="kontakt">Here will be a list of contacts</div>
</section>

<style>
    .kontakt {
        background-color: orange;
        height: 300px;
    }
</style>
