---
const links = [
    {
        name: "Fischereischeinlehrgang",
        href: "https://angeln-sachsen.de/avl/fischereischeinlehrgaenge/infos-zum-lehrgang",
    },
    {
        name: "Anglerverband Leipzig e.V.",
        href: "https://angeln-sachsen.de/avl",
    },
    {
        name: "Landesverband Sächsicher Angler",
        href: "https://angeln-sachsen.de/",
    },
];
---

<section id="links" class="py-8 px-4 flex flex-col">
    <h2 class="text-3xl font-bold mb-6">Links</h2>

    <ul class="grid grid-cols-1">
        {
            links &&
                links.map((link, idx) => {
                    return (
                        <li class="mb-2 p-2 flex items-center">
                            <a
                                href={link.href}
                                target="_blank"
                                referrerpolicy="no-referrer"
                            >
                                <span class="flex flex-row">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="white"
                                        class="size-6 mr-2"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
                                        />
                                    </svg>
                                    <p>{link.name}</p>
                                </span>
                            </a>
                        </li>
                    );
                })
        }
    </ul>
</section>

<style>
    #links li {
        height: 50px;
        background-color: var(--color-beige);
    }

    #links li:hover {
        opacity: 0.9;
    }
</style>
