<section>
    <div class="links section-container" id="links">Here will be a list of links</div>
</section>

<style>
    .links {
        background-color: yellow;
        height: 300px;
    }
</style>
