<nav>
    <ul>
        <li><a href="/">Willkommen</a></li>
        <li><a href="/aktuelles/">Aktuelles</a></li>
        <li><a href="/berichte/">Berichte</a></li>
        <li><a href="/jugend/">Jugend</a></li>
        <li><a href="/veranstaltungen/">Veranstaltungen</a></li>
        <li><a href="/lehrgangsinfo/">Lehrgangsinfo</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="/wetter/">Wetter</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
        <li><a href="/impressum/">Impressum</a></li>
    </ul>
</nav>
