<section
    id="wetter"
    class="py-8 px-4 flex flex-col justify-center md:items-center"
>
    <h2 class="text-3xl font-bold mb-6">Aktuelles Wetter und Vorhersage</h2>
    <div class="wetter-container gap-6">
        <div
            id="wcom-916a47d9bc82b0ee05a2a14118914648"
            style="border: 1px solid rgb(204, 204, 204); background-color: rgb(252, 252, 252); border-radius: 0px;"
            class="wcom-default w300x250"
        >
            <link
                rel="stylesheet"
                href="//cs3.wettercomassets.com/woys/5/css/w.css"
                media="all"
            /><div class="wcom-city">
                <a
                    style="color: #000"
                    href="https://www.wetter.com/deutschland/leipzig/DE0006194.html"
                    target="_blank"
                    rel="nofollow"
                    aria-label="Wetter Berlin"
                    title="Wetter Leipzig">Wetter Leipzig</a
                >
            </div><div id="wcom-916a47d9bc82b0ee05a2a14118914648-weather">
            </div><script
                type="text/javascript"
                src="//cs3.wettercomassets.com/woys/5/js/w.js"></script><script
                type="text/javascript"
            >
                _wcomWidget({
                    id: "wcom-916a47d9bc82b0ee05a2a14118914648",
                    location: "DE0006194",
                    format: "300x250",
                    type: "spaces",
                });
            </script>
        </div>
        <div
            id="wcom-06aa16d711be124849588ec49b0412a9"
            style="border: 1px solid rgb(204, 204, 204); background-color: rgb(252, 252, 252); border-radius: 0px;"
            class="wcom-default w300x250"
        >
            <link
                rel="stylesheet"
                href="//cs3.wettercomassets.com/woys/5/css/w.css"
                media="all"
            /><div class="wcom-city">
                <a
                    style="color: #000"
                    href="https://www.wetter.com/deutschland/leipzig/DE0006194.html"
                    target="_blank"
                    rel="nofollow"
                    aria-label="Wetter Berlin"
                    title="Wetter Leipzig">Wetter Leipzig</a
                >
            </div><div id="wcom-06aa16d711be124849588ec49b0412a9-weather">
            </div><script
                type="text/javascript"
                src="//cs3.wettercomassets.com/woys/5/js/w.js"></script><script
                type="text/javascript"
            >
                _wcomWidget({
                    id: "wcom-06aa16d711be124849588ec49b0412a9",
                    location: "DE0006194",
                    format: "300x250",
                    type: "summary",
                });
            </script>
        </div>
    </div>
</section>

<style>
    #wetter .wetter-container {
        display: flex;
    }

    @media (max-width: 676px) {
        #wetter .wetter-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
