---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Aktuelles">
    <h1>Berichte</h1>

    <ul>
        <li>
            <a href="/aktuelles/erste-meldung">Erste Meldung </a>
        </li>
    </ul>
</BaseLayout>
