---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Jugend from "../components/Jugend.astro";
import Links from "../components/Links.astro";
import Kontakt from "../components/Kontakt.astro";
import Hero from "../components/Hero.astro";
import Aktuelles from "../components/Aktuelles.astro";
import Berichte from "../components/Berichte.astro";
import Termine from "../components/Termine.astro";

const { title = "Anglerverband" } = Astro.props;
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>

    <body class="bg-gray-100 text-gray-900">
        <Header />
        <Hero />
        <main>
            <slot />
        </main>
        <Aktuelles />
        <div class="termine-links-container grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-6">
            <Termine />
            <Links />
        </div>
        <Jugend />
        <Berichte />
        <Kontakt />
        <Footer />
    </body>
</html>

<style>
    .termine-links-container {
        margin-bottom: 2rem;
    }
</style>