---
import "../styles/global.scss";
import Header from "../components/Header.astro";
const { title = "Anglerverband" } = Astro.props;
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
    </head>

    <body>
        <div class="layout">
            <h1 class="text-xl font-bold text-blue-600">
                Tailwind is working 🚀
            </h1>
            <header class="header">
                <Header />
            </header>

            <main class="content">
                <slot />
            </main>
        </div>
    </body>
</html>
